<div class="search-option">
  <!-- Search elament -->
  <div class="navigation-bar">
    <button type="button" class="simple-icon searchBoxToggler">
      <a href="/search"> {% render 'icon-search' %}</a>
    </button>
  </div>
</div>
