<section style="min-height:100vh;background:black;color:white;">
  hello
</section>
{% schema %}
  {
    "name": "Coming soon counter",
    "presets":[
      {
      "name": "Coming soon counter"
    }
    ]
  }
{% endschema %}