<style>
  .count-down__box{
   width: 8rem;
    color: rgba(255, 255, 255, .5);
    text-shadow: 0 0 12px #d038ff;
    border: 3px solid #f6f7eb;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 0.5rem;
    display: flex;
    position: relative;
    box-shadow: inset 0 0 20px rgba(246, 247, 235, .5), 0 0 20px rgba(246, 247, 235, .5);
  }
  .count-down__number{
    color: #fff;
    -webkit-text-stroke-color: rgba(255, 255, 255, .5);
    text-shadow: 0 0 10px #fff;
    font-family: Montserrat, sans-serif;
    font-size: 4.5rem;
    font-weight: 800;
    line-height: 1;
  }
  .count-down__label{
    color: #fff;
    letter-spacing: 0;
    text-transform: uppercase;
    text-shadow: 0 0 20px #fff;
    background-image: none;
    font-family: Montserrat, sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1;
    text-align:center;
    margin-bottom:1rem;
  }
</style>
<section style="min-height:100vh;background:white;">
  <section style="background:black;min-height:50vh;display:flex;justify-content:center;gap:1rem;align-items:center;">
    <div>
      <div class="count-down__label">Day</div>
      <div class="count-down__box"><div id="js-clock-days" class="count-down__number">99</div></div>
    </div>
    <div>
      <div class="count-down__label">hour</div>

      <div class="count-down__box"><div id="js-clock-hours" class="count-down__number">99</div></div>
    </div>
    <div>
      <div class="count-down__label">Minute</div>

      <div class="count-down__box"><div id="js-clock-minutes" class="count-down__number">99</div></div>
    </div>
    <div>
      <div class="count-down__label">second</div>

      <div class="count-down__box"><div id="js-clock-seconds" class="count-down__number">99</div></div>
    </div>
  </section>
</section>
<script>
    (function () {

      var deadline = '2023/09/25 09:00';

      function pad(num, size) {
          var s = "0" + num;
          return s.substr(s.length - size);
      }

      // fixes "Date.parse(date)" on safari
      function parseDate(date) {
          const parsed = Date.parse(date);
          if (!isNaN(parsed)) return parsed
          return Date.parse(date.replace(/-/g, '/').replace(/[a-z]+/gi, ' '));
      }

      function getTimeRemaining(endtime) {
          let total = parseDate(endtime) - Date.parse(new Date())
          let seconds = Math.floor((total / 1000) % 60)
          let minutes = Math.floor((total / 1000 / 60) % 60)
          let hours = Math.floor((total / (1000 * 60 * 60)) % 24)
          let days = Math.floor(total / (1000 * 60 * 60 * 24))

          return { total, days, hours, minutes, seconds };
      }

      function clock(id, endtime) {
          let days = document.getElementById(id + '-days')
          let hours = document.getElementById(id + '-hours')
          let minutes = document.getElementById(id + '-minutes')
          let seconds = document.getElementById(id + '-seconds')
          console.log(days);
          var timeinterval = setInterval(function () {
              var time = getTimeRemaining(endtime);

              if (time.total <= 0) {
                  clearInterval(timeinterval);
              } else {
                  days.innerHTML = pad(time.days, 2);
                  hours.innerHTML = pad(time.hours, 2);
                  minutes.innerHTML = pad(time.minutes, 2);
                  seconds.innerHTML = pad(time.seconds, 2);
              }
          }, 1000);
      }

      clock('js-clock', deadline);
  })();
</script>
{% schema %}
{
  "name": "Coming soon counter",
  "presets":[
    {
    "name": "Coming soon counter"
  }
  ]
}
{% endschema %}
