
<div class="product-container">
<div class="row">
<div class="col-12">
 
    <div class="singel-page-campainwrapper text-center">

        <h3>{{ page.title }}</h3> 

        <div class="video-wrapper">
            <video muted autoplay loop playsinline>
            <source src="{{ section.settings.u.sources[1].url }}" type="video/mp4">
            </video>
        </div>
    

        {% if settings.settings.p != blank %}
            <p class="dec">{{ section.settings.p }}</p>
        {% endif %}
       
   

    </div>



    <style>
        .video-wrapper video {
            width: 100%;
        }
        h3 {
            font-size: 28px;
            font-weight: 900;
            line-height: 1;
            margin: 15px 0 30px;
        }
        a.btn {
            padding: 11px 17px;
            background: black;
            FONT-SIZE: 16px;
            color: #FFF;
            text-transform: capitalize;
            line-height: 1;
        }
        .singel-page-campainwrapper {
            margin: 30px 0;
        }
        .dec{
         margin:10px 0;
        }
        {% comment %} .singel-page-campainwrapper img {
            display: inherit;
            margin: 0 auto;
        }
        @media only screen and (max-width: 800px) {
            .singel-page-campainwrapper img {
                width: 100%;
                margin: 0 auto;
            }
          } {% endcomment %}
    </style>


</div>
</div>
</div>



{% schema %}
    {
        "name": "campaing",
        "class": "campaing",
        "settings": [
            {
            "id": "u",
            "label": "Video Upload",
            "type": "video"
           },
           {
            "type": "text",
            "id": "h2",
            "label": "Campaing Title",
            "default": "Baby Phat x Forever 21"

           },
           {
            "type": "text",
            "id": "p",
            "label": "Decription"
           }
           
        ],
        "presets": [
            {
            "name": "campaing Page"

            }
        ]
        
    }
{% endschema %}
