<!-- panties-area strat -->
<section class="footer-container">
<div class="row">
<div class="col-12">
  <div class="video-wrapper">
    <video autoplay muted loop playsinline preload="metadata" controls>
      <source src="{{ section.settings.u }}" type="video/mp4">
    </video>
  </div>
</div>
</div>
</section>
<!-- panties-area end -->

{% schema %}
    {
      "name": "Video",
      "settings": [
         {
          "type": "text",
          "id": "u",
          "label": "Video url",
          "default": "http://www.adrianparr.com/download/keyboard-video.mp4",
 
          "placeholder": "http://www.adrianparr.com/download/keyboard-video.mp4"
         }
      ],
        "presets": [
            {
            "name": "Video"

            }
        ]
    }
{% endschema %}