<!-- panties-area strat -->
<section class="x-container">
<div class="row">
<div class="col-12">
  <div class="video-wrapper">
    <video muted autoplay loop playsinline controls>
      <source src="{{ section.settings.u }}" type="video/mp4">
    </video>
  </div>
</div>
</div>
</section>
<!-- panties-area end -->

{% schema %}
    {
      "name": "Video",
      "settings": [
         {

          "id": "u",
          "label": "Video url",
          "type": "video"
         }
         
      ],
        "presets": [
            {
            "name": "Video"

            }
        ]
    }
{% endschema %}

<style>

video {
  display: inline-block;
  width: 100%;
}
@media only screen and (min-width: 800px) {
  .video-wrapper{
    padding:0 200px
   }
}
</style>