
    <div class="product-container">
    <div class="wrapper">
    
   
    
        <div class="row">
        
            {% for item in section.blocks %}
                <div class="col-md-4 col-sm-6 col-12 d-flex justify-content-center aligns-item-center text-center">
                  <div class="singel-press ">
                        <a  href="{{ item.settings.url }}" target="_blank" class="d-block"> <img  src="{{  item.settings.img | img_url:"masterx50"  }}" alt=""></a>
                        <a href="{{ item.settings.url }} " target="_blank" class="d-block">{{ item.settings.dec }}</a>
                    </div>
                </div>
            {% endfor %}

        
        </div>
    </div>
</div>


<style>
.singel-press{
    padding: 3vw 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and (max-width: 600px)  {
        padding: 6vw 1vw;
    }

}
.singel-press img {
    max-width: 200px;
    margin-bottom:14px;
    
}
.singel-press a.d-block {
    font-size: 1.25rem;
 
}
.singel-press a:hover{
 color: #000;
 text-decoration:underline;
}
</style>

{% schema %}
    {
        "name": "Press",
        "class": "press",
        "settings": [
            
        ],
        "blocks": [
            {
                "type": "press",
                "name": "press",
                "settings": [
                    {
                        "type": "url",
                        "id": "url",
                        "label": "Link"
                    },
                   {
                    "type": "image_picker",
                    "id": "img",
                    "label": "Select your image"
                   },
                   {
                    "type": "text",
                    "id": "dec",
                    "label": "Decription",
                    "default": "Baby Phat by Kimora Lee Simmons Brings Surprise Capsule to Macy’s"
                   }
                ]
            }
        ]
        ,
      "presets": [
        {
            "name": "Press"
          }
      ]
    }
{% endschema %}
