{% include 'spurit_po2_section_snippet', product: null, products: collections[section.settings.product_grid_collection].products %}
<!-- justin-area strAT -->  
<section class="product-area">
    <div class="product-container">
        <ul class="product-title nav nav-tabs pb-5">
            <li><a class="product-toggle active">{{ section.settings.product_grid_name }}</a></li>
        </ul>
        <div class="tab-content">
          <div class="collection_grid row pt-4">
            {% for product in collections[section.settings.product_grid_collection].products limit:16 %}
              {% if forloop.index > 8 %}
              <div class="col-md-3 d-none div-element">
                
                {% render 'homepagegrid',
                  product: product, %}
              </div>
              {% else %}
              <div class="col-md-3  div-element">
                
                {% render 'homepagegrid',
                  product: product, %}
             </div>
            {% endif %}
              {% endfor %}
              <div class="col-12 text-center">
                <button class="show-more" onclick="showDivs()">Show More</button>
              </div>
          </div>
        </div> 
    </div>
</section>


<!-- justin-area end -->
{% schema %}
    {
      "name": "Simple Product Grid",
      "settings": [
        {
          "type": "text",
          "id": "product_grid_name",
          "label": "Product Grid Section Name"
        },
        {
        "type": "collection",
        "id": "product_grid_collection",
        "label": "Pick Collection"
        }
      ],
    "presets": [
    {
      "name": "Simple Product Grid",
      "category": "section"
    }
  ]
    }
  {% endschema %}
  
  {% stylesheet %}
  
  {% endstylesheet %}
  
  {% javascript %}
  {% endjavascript %}


<script>
  var divElement = document.querySelector('.show-more');

  // Add a click event listener to the div element
  divElement.addEventListener('click', function() {
    // Add the class 'new-class' to the div element
    divElement.classList.add('d-none');
  });



  function showDivs() {

    var divs = document.getElementsByClassName("div-element");
  
    // Loop through all the divs
    for (var i = 0; i < divs.length; i++) {
      // Check if the div has the "d-none" class
      if (divs[i].classList.contains("d-none")) {
        // Remove the "d-none" class from the div
        divs[i].classList.remove("d-none");
      }
    }

    
 const newdetias = document.getElementsByClassName("show-more").classList.add("d-none");
  }
</script>


<style>
  button.show-more {
    background: #000;
    padding: 10px 20px;
    border-radius: 30px;
    color: #fff;
    line-height: 1;
    font-size: 15px;
    border: transparent;
}
</style>