  :root {
    --theme-color: #0a58ca;
    --title-color: #000;
    --body-color: #000;
    --smoke-color: #262631;
    --smoke-color2: #F5F1EA;
    --light-color: #8E8E8E;
    --black-color: #000000;
    --white-color: #ffffff;
    --yellow-color: #fec624;
    --gray-color: #bdbdbd;
    --success-color: #28a745;
    --error-color: #dc3545;
    --border-color: #ced4da;
    --title-font: 'T-Star Pro';
    --body-font: 'T-Star Pro';
    --main-container: 1240px;
    --container-gutters: 30px;
  }
  
  html,
  body {
    scroll-behavior: smooth !important;
  }
  
  html::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }
  
  html::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
  }
  
  html::-webkit-scrollbar-thumb {
    background-color: var(--theme-color);
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  }
  
  body {
    font-family: var(--title-font);
    font-size: 22px;
    font-weight: 400;
    color: var(--body-color);
    line-height: 32px;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
  }
  
  @media only screen and (min-width: 1300px) {
    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
      max-width: calc(var(--main-container) + var(--container-gutters));
      padding-left: calc(var(--container-gutters) / 2);
      padding-right: calc(var(--container-gutters) / 2);
    }
  }
  
  .fw-normal {
    font-weight: 400;
  }
  
  .fw-medium {
    font-weight: 500;
  }
  
  .fw-semibold {
    font-weight: 600;
  }
  
  .fw-bold {
    font-weight: 700;
  }
  
  .fw-extrabold {
    font-weight: 800;
  }
  
  .fs-20 {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .fs-sm {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  .fs-xs {
    font-size: 14px;
  }
  
  .animated {
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  
  .animated.hinge {
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
  
  @-webkit-keyframes fadeInRight {
    0% {
      opacity: 0;
      -webkit-transform: translateX(40px);
              transform: translateX(40px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      -webkit-transform: translateX(40px);
              transform: translateX(40px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  
  .fadeInRight {
    -webkit-animation-name: fadeInRight;
            animation-name: fadeInRight;
  }
  
  @-webkit-keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-40px);
              transform: translateX(-40px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-40px);
              transform: translateX(-40px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  
  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
            animation-name: fadeInLeft;
  }
  
  @-webkit-keyframes fadeInUp {
    0% {
      opacity: 0;
      -webkit-transform: translateY(40px);
              transform: translateY(40px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      -webkit-transform: translateY(40px);
              transform: translateY(40px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
            animation-name: fadeInUp;
  }
  
  @-webkit-keyframes fillLeft {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: left center;
              transform-origin: left center;
    }
    to {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: left center;
              transform-origin: left center;
    }
  }
  
  @keyframes fillLeft {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: left center;
              transform-origin: left center;
    }
    to {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: left center;
              transform-origin: left center;
    }
  }
  
  .fillLeft {
    -webkit-animation-name: fillLeft;
            animation-name: fillLeft;
  }
  
  @-webkit-keyframes fillRight {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: right center;
              transform-origin: right center;
    }
    to {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: right center;
              transform-origin: right center;
    }
  }
  
  @keyframes fillRight {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: right center;
              transform-origin: right center;
    }
    to {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: right center;
              transform-origin: right center;
    }
  }
  
  .fillRight {
    -webkit-animation-name: fillRight;
            animation-name: fillRight;
  }
  
  .w-100 {
    width: 100%;
  }
  
  .space {
    padding-top: 100px;
    padding-bottom: 100px;
    /* Medium devices */
  }
  
  @media (max-width: 991px) {
    .space {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
  
  .space-bottom {
    padding-bottom: 100px;
    /* Medium devices */
  }
  
  @media (max-width: 991px) {
    .space-bottom {
      padding-bottom: 60px;
    }
  }
  
  .mb-30 {
    margin-bottom: 30px;
  }
  
  .mt-30 {
    margin-top: 30px;
  }
  
  .breadcumb-area {
    text-align: center;
    position: relative;
  }
  
  .breadcumb-area .breadcumb-title-wrap {
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    -webkit-transform: translateY(-55%);
        -ms-transform: translateY(-55%);
            transform: translateY(-55%);
    text-align: center;
    padding-right: 3%;
  }
  
  .breadcumb-area .breadcumb-title {
    display: inline-block;
    margin-bottom: 0;
    font-size: 370px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1;
    position: relative;
  }
  
  .breadcumb-area .breadcumb-title .text-small {
    font-size: 50px;
    position: absolute;
    bottom: -15%;
    right: 0;
  }
  
  .text-invert {
    color: rgb(247,206,242);
    opacity: 0.78;
  }
  
  /* Large devices */
  @media (max-width: 1199px) {
    .breadcumb-area .breadcumb-title {
      font-size: 333px;
    }
  }
  
  /* Medium devices */
  @media (max-width: 991px) {
    .breadcumb-area .breadcumb-title-wrap {
      padding-right: 0;
      margin-left: -2%;
    }
    .breadcumb-area .breadcumb-title {
      font-size: 260px;
    }
    .breadcumb-area .breadcumb-img {
      max-width: 408px;
      margin: 0 auto;
    }
    .breadcumb-area .breadcumb-img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
  
  /* Small devices */
  @media (max-width: 767px) {
    .breadcumb-area .breadcumb-title {
      font-size: 200px;
      margin-left: -1%;
    }
    .breadcumb-area .breadcumb-title .text-small {
      bottom: -25%;
    }
    .breadcumb-area .breadcumb-img {
      max-width: 320px;
      height: 580px;
    }
  }

  @media (max-width: 450px) {

    .breadcumb-area .breadcumb-img {
      max-width: 192px;
      height: 580px;
    }
    .breadcumb-area .breadcumb-title-wrap {

      right: 3px}
  }
  
  /* Extra small devices */
  @media (max-width: 575px) {
    .breadcumb-area .breadcumb-title {
      font-size: 5.5em;
    }
    .breadcumb-area .breadcumb-title .text-small {
      bottom: -35%;
      font-size: 36px;
    }

  }
  
  @media (max-width: 350px) {
    .breadcumb-area .breadcumb-title {
      font-size: 5.3em;
    }
  }
  
  .fs-18 {
    font-size: 18px;
    line-height: 1.5;
    /* Large devices */
  }
  
  @media (max-width: 1199px) {
    .fs-18 {
      font-size: 16px;
    }
  }
  
  .story-title1 {
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 20px;
    /* Small devices */
  }
  
  @media (max-width: 767px) {
    .story-title1 {
      font-size: 30px;
      margin-bottom: 15px;
    }
  }
  
  .story-image-area {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .story-image-area .story-big-text {
    margin-left: -19%;
  }
  
  .story-image-area .img {
    position: relative;
  }
  
  .story-big-text {
    font-size: 160px;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  
  @media (max-width: 1300px) {
    .story-big-text {
      font-size: 140px;
    }
  }
  
  /* Large devices */
  @media (max-width: 1199px) {
    .story-image-area .img {
      -webkit-box-flex: 50%;
      -webkit-flex: 50%;
          -ms-flex: 50%;
              flex: 50%;
      width: 50%;
      height: 450px;
    }
    .story-image-area .img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
    .story-big-text {
      font-size: 120px;
    }
  }
  
  /* Medium devices */
  @media (max-width: 991px) {
    .story-image-area {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
    }
    .story-image-area .img {
      -webkit-box-flex: 100%;
      -webkit-flex: 100%;
          -ms-flex: 100%;
              flex: 100%;
      width: 100%;
    }
    .story-image-area .story-big-text {
      margin-left: 0;
      margin-top: -11.5%;
      background: -webkit-linear-gradient(top, rgba(254, 196, 250, 0.78) 33%, #000 33%);
      background: linear-gradient(to bottom,rgba(254, 196, 250,.78) 33%,#000 33%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      z-index: 2;
    }
    .story-image-area .story-big-text .text-invert {
      color: inherit;
      opacity: 1;
    }
  }
  
  /* Small devices */
  @media (max-width: 767px) {
    .story-image-area .story-big-text {
      margin-top: -13%;
    }
    .story-big-text {
      font-size: 100px;
    }
  }
  
  /* Extra small devices */
  @media (max-width: 575px) {
    .story-image-area .story-big-text {
      margin-top: -46px;
    }
    .story-big-text {
      font-size: 70px;
    }
  }
  
  @media (max-width: 360px) {
    .story-image-area .story-big-text {
      margin-top: -40px;
    }
    .story-big-text {
      font-size: 60px;
    }
  }
  
  .mtn-60 {
    margin-top: -60px;
    /* Medium devices */
  }
  
  @media (max-width: 991px) {
    .mtn-60 {
      margin-top: 30px;
    }
  }
  
  /*# sourceMappingURL=style.css.map */
  