html, body {
    overflow-x: hidden;
  }
  body {
    position: relative
  }

a:hover {
    color: #fec4fa !important;
}

._ks_text {
    font-size: 20px;
    font-weight: bold;
}

.swym-ui-components .swym-bg-2, .swym-ui-component .swym-bg-2 {
  background-color: #000 !important;
}

.social-footer-heading {
  margin-bottom: 0 !important;
  margin-top: 25px !important;
}

@media screen and (max-width: 749px) {
  .social-footer-heading {
  text-align: center;
  }
}

.qsc2-btn > span {
  color: #fff !important;
}

/* FAQ Section */

.faq {
  
  border-radius: 8px;
  overflow: hidden;
}

.faq .tab-label::after {
  content: '\2192';
  transition: all .4s;
}


.faq .tab-toggle {
  display: none;
}

.faq .tab-label {
  background-color: rgb(255,255,255);
  display: flex;
  justify-content: space-between;
  padding: 1em;
  color: #000;
  font-weight: 600;
  font-size: 1.7rem;
  border-bottom: 1px solid black;
}

.faq .tab-label:hover {
   /*background-color: rgb(0,0,0); */
  color: rgb(0,0,0);
}

.faq .tab-toggle:checked ~ .tab-label::after {
    transform: rotate(90deg);
}

.faq .tab-toggle:checked ~ .tab-label {
    /*background-color: rgb(0,0,0);*/
}

.faq .tab-content {
    /* background-color: rgb(0,0,0); */
    max-height: 0px;
    overflow: hidden;
    transition: all 0.4s;
    padding: 0 1em;
    color: #727272;
    font-size: 1.4rem;
}

.faq .tab-toggle:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
}
.faq .tab {
              	  
    margin-bottom: 10px;
              
}


.f-hero-container {
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.slider_content_wrapper {
    position: relative;
}

.slider_content_image img {
    width: 100%;
    max-height: 760px;
    object-fit: cover;
    object-position: top;
}

.container.slider_text_container {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    bottom: 0;
}

.panties-area .f-hero-container {
    padding: 432px 0px 40px 300px;
}
.mobileOnly{
    display: none;
}
.product_image_wrapper {
    position: relative;
}
.secondImage {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    transition: .3s linear all;
    opacity: 0;
    width: 100%;
    height: 100%;cl-start-wrap help-571 mm-help
}
.firstImage{
    transition: .3s linear all;
}
/* .product-items:hover .firstImage{
    transition: .3s linear all;
    opacity: 0;
} */
@media only screen and (max-width: 600px)  {

    .product-items .firstImage{

        opacity: 1;
    }
    .singel-top-option span {
        font-weight: 300;
    }
}
@media only screen and (min-width: 600px)  {

    .product-items:hover .secondImage{
        transition: .3s linear all;
        opacity: 1;
    }
    .product-items:hover .firstImage{
        transition: .3s linear all;
        opacity: 1;
    }

}


span.regular-price.compare_at_price del {
    color: #919191 !important;
}
.belive-items img {
    width: 100%;
    height: 90svh;
    display: block;
    object-fit: cover;
    object-position: top;
}
.slider_content_image img {
    height: 100%;
}

.featured-gift-items {
    width: 100%;
    height: 476px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.theme-btn:before {
    background: #000000;
}
.theme-btn:hover, .theme-btn:focus {
    color: #fff !important;
}
.simple-icon.searchBoxToggler {
    background: transparent;
    border: 0;
    padding: 0;
}

.popup-search-box form input {
    font-size: 18px;
    height: 70px;
    width: 100%;
    border: 2px solid #fff;
    border-color: #fff !important;
    background-color: transparent;
    padding-left: 30px;
    color: #fff;
    border-radius: 50px;
}
form.custome-serach-new label {
    color: #fff;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
}

.predictive-search__item-content--centered * {
    color: #fff;
    font-size: 24px;
}
button.predictive-search__item.predictive-search__item--term.link.link--text.h5.animate-arrow {
    background: #fff;
    
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 2rem;
    word-break: break-all;
    line-height: 40px;
    position: relative;
    display: flex;
    padding: .8rem 2rem;
    text-align: left;
    text-decoration: none;
    width: 100%;
}
button.searchClose.border-theme.text-theme {
    border-color: #fff !important;
    color: #fff !important;
}
.popup-search-box form input {
    border: 3px solid #fff;
}

input.addcart__buttonwrap {
    background: #000000;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    display: block;
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-top: 0;
    position: relative;
    border: 1px solid transparent;
    margin-bottom: 10px;
}
.product-item-p-text {
    padding-top: 25px;
}

.addcart__buttonwrap:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-color: transparent;
    background: #fff;
    border-radius: 2px;
    color: #000;
    transform-origin: bottom right;
    transform: scale(0);
    transition: transform .6s cubic-bezier(.4,0,.2,1);
    z-index: -1;
    border: 1px solid #000;
}

.addcart__buttonwrap:hover:before, .addcart__buttonwrap:focus:before {
    transform-origin: left top;
    transform: scale(1);
    border-radius: 2px;
}
.collection_item {
    margin-bottom: 30px;
    @media only screen and (max-width: 600px)  {
        margin-bottom: 10px;

    }
}

.main-card-container {
    max-width: 486px;
    display: block;
    /* height: 100vh; */
    background: #faf9f9;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    /* height: 100%; */
    overflow-y: auto;
    width: 100%;
}
span.cart-drawer__total-amount span {
    color: #fff !important;
}

.product-option {
    display: flex;
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    color: #000000;
    line-height: 21px;
}
.color-remove a i {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    text-decoration-line: underline;
    color: #000000;
}
.main-cart-img img {
    width: 150px;
    height: 176px;
    object-fit: cover;
    object-position: top;
}
.main-card-sizing-counte {
    padding-top: 12px;
    max-width: 246px;
    width: 100%;
}
.main-card-wraper-flax {
    width: 100%;
}
.color-remove {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 12px;
    margin-top: -18px;
}
.main-card-remove {

    cursor: pointer;
}
.product__title {
    font-weight: 900;
    font-size: 36px;
    line-height: 100%;
    text-transform: uppercase;
}
.price__sale {
    font-weight: 900;
    font-size: 36px;
    line-height: 100%;
    text-transform: uppercase;
}
variant-radios label {
    height: 40px;
    width: 40px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #000;
    font-family: 'T-Star Pro';
    font-weight: 400;
    font-size: 10px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 0px !important;
    border-radius: 50px !important;
    line-height: 40px !important;
    text-align: center !important;
    color: #000 !important;
}
variant-radios label[checked] {
    height: 45px;
    width: 45px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #000;
    font-family: 'T-Star Pro';
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #fff !important;
    padding: 0px !important;
    border-radius: 50px !important;
    line-height: 45px !important;
    text-align: center !important;
}
span.cart-drawer__total-amount {
    color: #fff;
}

.product-title .product-toggle {
    cursor: pointer;
}
.popup-search-box form input:focus-visible {
    box-shadow: none !important;
    outline: none !important;
}

.popup-search-box button.searchClose {
    font-size: 24px;
    border-radius: 50%;
    line-height: 0px !important;
}
.popup-search-box button.searchClose:hover {
    color: #000 !important;
}

button#checkout {
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 12px 12px 16px 12px;
}
button#update {
    margin-top: 0;
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 130%;
    text-transform: uppercase;
    border: 1px solid #000;
    background: #fff;
    color: #000;
}
p.totals__subtotal-value {
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
h2.totals__subtotal {
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 22px !important;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.totals {
    justify-content: space-between !important;
}

small.tax-note.caption-large.rte {
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000000;
    margin-top: 18px;
    margin-bottom: 120px;
}
.payment_icons {
    margin-top: 20px !important;
}
.cart__footer {
    padding-bottom: 140px !important;
}
td.cart-item__totals.cart_item_product_price * {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
td.cart-item__totals.right.small-hide * {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
td.cart-item__totals.right.small-hide * {
    text-align: right !important;
    margin-top: 0px;
}
.title-wrapper-with-link {
    margin-bottom: 50px !important;
}
quantity-input.quantity {
    border: 1px solid #000;
    position: relative;
    height: 45px;
    width: 90px;
    padding-right: 30px;
    box-shadow: none !important;
    outline: none !important;
}
button.quantity__button {
    position: absolute;
    right: -1px;
    /* border: 1px solid #000; */
    padding: 0;
    height: 23.5px;
    padding: 0 5px;
    line-height: 18px;
    border-radius: 0;
    width: 31px;
    border-top: 0px;
    cursor: pointer !important;
    z-index: 111;
}
h1.main-page-title.page-title.h0 {
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 130%;
    text-decoration-line: none;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 50px;
}
.shopify-policy__title h1 {
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 130%;
    text-decoration-line: none;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 50px;
}
.rte * {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #000000;
}
.alternative-collection-grid .featured-collection-btn p {
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
}

.alternative-collection-grid .featured-collection-btn {
    position: relative;
}
.alternative-collection-area {
    padding-bottom: 30px;
}

button.search__button.field__button img {
    max-width: 15px;
}
fieldset.js.product-form__input label {
    border: 1.0125px solid #000000;
}
.product-form__buttons button {
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 1;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #000000;
    border-radius: 5px;
    height: 52px;

}
.product-form__input input[type='radio']:checked + label {
    background-color: rgb(var(--color-foreground));
   
    color: #fff !important;
}
.shopify-cleanslate span {
    color: #fff;
}
h2.related-products__heading.h2 {
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 63.375px;
    line-height: 130%;
    text-transform: uppercase;
    color: #000000;
}
fieldset.product-form__input .form__label {
    margin-bottom: 0.2rem;
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 17px;
    line-height: 100%;
    text-transform: uppercase;
    color: #000000;
}
.quantity__input {
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    color: #000000;
}

.product quantity-input.quantity {
    border: 1px solid #000;
    height: 52px;
    width: auto;
    padding-right: 0px;
    box-shadow: none !important;
    outline: none !important;
    display: inline-flex;
    width: 100%;
}
.product  button.quantity__button {
    height: 101%;
    position: unset;
    width: 52px;
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    color: #000000;
}
.product__title h1 {
    letter-spacing: normal;
}
.price__container {
    letter-spacing: normal;
}
.product quantity-input.quantity {
    border: 1px solid #000;
    height: 52px !important;
    width: auto;
    padding-right: 0px;
    box-shadow: none !important;
    outline: none !important;
    display: inline-flex;
    width: 100% !important;
}
label.form__label {
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 100%  !important;
    text-transform: uppercase;
    color: #000000;
}
p.product__text.subtitle {
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 130%;
    text-transform: uppercase;
    color: #000000;
}
h2.h4.accordion__title {
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 130%;
    text-transform: uppercase;
    color: #000000;
}
.product-form__input {
    max-width: 44rem !important;
}
.usp_content {
    background: #EDEDED;
    border-radius: 5px;
    padding: 24px;
    display: flex;
    align-items: center;
}
@media screen and (min-width:991px) and (max-width: 1200px){
  .usp_content{
    padding: 24px 18px;
  }
}
.usp_content img {
    width: 20px;
    margin-right: 20px;
}
.usp_content p {
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 19.9078px;
    line-height: 130%;
    text-transform: uppercase;
    color: #000000;

}
@media screen and (min-width: 991px){
  .usp_content p{
    font-size: 13.9078px;
    white-space: nowrap;
  }
}
@media screen and (min-width: 1200px){
  .usp_content p{
    font-size: 16.9078px;
  }
}
@media screen and (min-width: 1400px){
  .usp_content p{
    font-size: 19.9078px;
    white-space:normal;
  }
}
h2.related-products__heading.h0 {
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 63.375px;
    line-height: 130%;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 15px;
}
.usp.container {
    margin-top: 35px;
    margin-bottom: 40px;
}
.product-form__buttons button {
    margin-bottom: 16px;
}
.related-products {
    display: block;
    padding-left: 0;
    padding-right: 0px;
}


input.quantity__input {
    outline: none !important;
    box-shadow: none !important;
}
p.usp_title {
  display: flex;
  align-items: center;
  font-family: 'T-Star Pro';
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0;
  line-height: 130%;
  color: #000000;
}
p.usp_title img {
    max-width: 25px;
    margin-right: 10px;
}

.usp_inline_item {
    display: flex;
    gap: 15px;
    margin-bottom: 20px !important;
}
.usp_icon img {
    max-width: 25px;
}
.usp_text {
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 19.9078px;
    line-height: 130%;
    color: #000000;
    margin-top: 2px;
}
.product__text.subtitle {
    border-top: 1px solid #000;
    margin-top: 50px;
    padding-top: 20px;
}
.accordion {
    border-bottom: 0;
    border-top: 0px;
}
.accordion .summary__title + .icon-caret{
    transform: scale(2);
}
.accordion details[open] > summary .icon-caret {
    transform: rotate(180deg) scale(2);
}
.product__accordion .accordion__content {
    padding: 0 0rem;
}
.price--on-sale .price-item--regular {
    text-decoration: line-through;
    color: rgba(var(--color-foreground),.75);
    font-size: 2.3rem;
}
.product__text.subtitle {
    border-top: 1px solid rgb(0 0 0 / 50%);
}
.rte img {
    width: 100%;
    margin: 15px 0px;
}
.rte p {
    margin-bottom: 15px;
}
.rte h4 {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 600;
}


.header-sigin-btn li .search-option .navigation-bar button {
    transform: translateY(2px);
}
.product.product--large {
    padding-top: 90px;
}
.product__info-wrapper.grid__item {
    padding-top: 0px !important;
}
h2.product-recommendations__heading {
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 52px;
    line-height: 130%;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 15px;

}
.product-recommendations .splide__arrows.splide__arrows--ltr {
    display: none;
}
.product-recommendations .splide__arrows.splide__arrows--ltr {
    display: none;
}
.color-remove {
    margin-top: -34px;
}

ul.footer-socil-item 
 li:nth-child(4) {
    transform: translateY(-5px);
}
.belive-title {
    max-width: 550px;
    margin: 0 auto;
}


/*Account Page*/
#recover, #login ,.customer h1{
    scroll-margin-top: 20rem;
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 130%;
    text-transform: uppercase;
    color: #000000;
}
.field__input, .customer .field input {
    flex-grow: 1;
    text-align: left;
    padding: 1.5rem;
    margin: var(--inputs-border-width);
    transition: box-shadow var(--duration-short) ease;
    border-bottom: 1px solid;
    font-weight: 600;
}
.customer button {
    margin: 4rem 0 1.5rem;
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
}
.underlined-link, .customer a {
    font-weight: 600 !important;
}
.customer {
    padding-top: 70px !important;
}
.login p {
    margin: 1.5rem 0;
    font-size: 16px !important;
    font-weight: 500 !important;
}

.field__label, .customer .field label {
    font-weight: 600;
}
.shopify-challenge__container .shopify-challenge__message, .shopify-challenge__container .shopify-challenge__errors {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}
input.shopify-challenge__button.btn {
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #000;
    margin-top: 15px;
}
.template-404.page-width.page-margin.center a.button {
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #000;
}
.template-404.page-width.page-margin.center p {
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 52px;
    line-height: 130%;
    text-transform: uppercase;
    color: #000000;
}
.template-404.page-width.page-margin.center h1 {
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 130%;
    text-transform: uppercase;
    color: #000000;
}
h2#predictive-search-products {
    color: #fff !important;
}
.main-card-wraper-items {
    margin: 20px 0px;
}

.main-card-wraper-items h3 a {
    text-align: left !important;
    padding-top: 0px;
    font-size: 16px;
    /* white-space: nowrap; */
}
.main-cart-texts-item h3 {
    font-weight: 900;
    font-size: 18px;
    padding-bottom: 6px;
    padding-top: 0;
}
.main-cart-texts-item h5 {
    font-size: 16px;
}
.main-card-container .main-card-btn {
    font-size: 28px;
}
li.social_pinterest_link {
    display: none;
}

.header_mobile_url .cl-label-wrap a {
    display: block;
    color: #fff !important;
    font-size: 16px;
    border-bottom: 1px solid #fff;
    padding: 10px 0px;
}

.header_mobile_url .cl-label-wrap {
    display: flex;
    padding-top: 0px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
}
.header_mobile_url .mm-help .f-help-m {
    margin-bottom: 10px;
    background: #000;
}
.mm-help {
    display: block !important;
    margin-top: 40px;
}
.header_mobile_url .cl-label-wrap a:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}
.announcement-bar__message {
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
a:hover{
    cursor: pointer;
}
.announcement-bar__message {
    margin-bottom: 0;
}

.product-item-p-text {
    padding-top: 15px;
    @media only screen and (max-width: 600px)  {
        padding-top: 2px;
    
    
      }
}

.tab-main-box .splide__arrow {
    top: 35.5%;
}

.fast-header-menu .dropdown-pges-ul li a {
    font-style: normal;
    padding: 12px  0 10px;
}
li.currency-switcher-li {
    padding-left: 0;
}
a#cartDrawyerOpener {
    display: inline-block;
    position: relative;
  top: 3px;
}


a#cartDrawyerOpener span {
    padding: 3px 5px;
    background: #fff;
    border-radius: 50%;
    line-height: 1;
    display: inline-block;
    color: #000;
    position: absolute;
    top: 6px;
    left: 11px;
    font-size: 12px;
    width: 18px;
    text-align: center;
    letter-spacing: unset;
}
button#menu-opener {
    border: none;
    margin-left: 10px;
}

.sidebar-menus li.cl-item.f-help-m::after{
    display: none;
}
.sidebar-menus .cl-label-title::after {
    content: "+";
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 12px;
    right: 10px;
    transition: .3s linear all;
}
.sidebar-menus .cl-item-open .cl-label-title::after {
    content: "-";
}
.sidebar-menus {
    padding: 85px 20px 20px 20px;
}
.sidebar-menus .remove-one img {
    width: 16px;
}
.sidebar-menus .remove-one {
    padding: 0;
}
section.footer-area span.cl-label-title::after {
    content: "+";
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 5px;
    transition: .3s linear all;
}
section.footer-area .cl-item-open span.cl-label-title::after {
    content: "-";
}
h2.product-recommendations__heading {
    font-family: 'T-Star Pro' !important;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 130%;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 15px;
}
button.shopify-payment-button__button.shopify-payment-button__button--unbranded {
    padding-bottom: 5px;
}
.announcement-bar__message {
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

@media screen and (max-width:767px){
   .hideMobile{
        display: none;
    }
    .mobileOnly{
        display: block;
    }
    .free-shop-slider {
        margin: 0px 45px;
    }
    .slider_content_image img {
        width: 100%;
        max-height: 760px;
        object-fit: cover;
        object-position: top;
    }
    button#menu-opener {
        /* height: 17px; */
        padding: 0;
        background: transparent;
   
    }
    button#menu-opener svg {
        margin-top: -33%;
    }
    /*Product Page*/
    .row.usp_row {
        gap: 15px;
    }
    .related-products__heading.h0 {
        font-size: 36.375px;
    }
    label.form__label {
        font-size: 18px;
    }
    p.product__text.subtitle, h2.h4.accordion__title {
        font-size: 22px;
    }
    .usp_content {
        padding: 18px;
    }
    .usp_content p {
        font-size: 16.9078px;
    }
    .product__text.subtitle {
        border-top: 1px solid rgb(0 0 0 / 50%);
        margin-top: 35px;
        padding-top: 20px;
    }
    p.usp_title {
        font-size: 16.9078px;
    }
    .usp_text {
        font-size: 16.9078px;
    }
    .product-form__buttons button {
        font-family: T-Star Pro;
        font-style: normal;
        font-weight: 900;
        font-size: 22px;
        line-height: 1;
        text-transform: uppercase;
        color: #fff;
        background: #000000;
        border-radius: 5px;
        height: 54px;
    
    }
    h1.main-page-title.page-title.h0 {
        font-size: 32px;
    }
    .rte h4 {
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: 600;
    }
    .rte {
        padding-bottom: 30px;
    }
    .featured-collection-title h3 {
        font-size: 30px;
        line-height: 43px;
        padding-bottom: 15px;
        padding-left: 15px;
    }
    section.featured-collection-area {
        padding-top: 0px;
    }
    .product-container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .featured-collection-items img {
        height: auto;
        width: 268px !important;
        height: 330px;
        object-fit: cover;
        object-position: top;
    }

    .belive-area {
        padding-top: 60px;
        padding-bottom: 50px;
    }
    .collection_grid.row.pt-4 .col-md-3 {
        width: 50%;
    }
    .price-wrapper {
        margin-left: 15px;
    }
    .belive-items img {
        width: 100%;
        height: 50svh;
        display: block;
        object-fit: cover;
        object-position: top;
    }
    .product-area .nav-tabs {
        border-bottom: none;
        display: flex;
        flex-wrap: nowrap;
    }
    .product-area .nav-tabs li {
        flex: 0 0 auto;
        width: auto;
    }
    .featured-collection-wraper {
        padding-left: 15px;
    }
    section.featured-gift-area {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 40px !important;
    }
    .featured-collection-wraper {
        overflow: hidden;
        overflow-x: auto;
        width: 100%;
        display: flex;
    }

    li.cl-item.f-help-m {
        position: relative;
    }
    /* p.product-item-text {
        height: 36px;
    } */
    p.product-item-text.product_price {
        height: auto;
        margin-top: 5px;
    }


 h2.h4.accordion__title {
        font-size: 22px;
    }
    h2.product-recommendations__heading {
        font-size: 32px;
    }
    .product.product--large {
        padding-top: 10px;
    }
    s.price-item.price-item--regular {
        font-size: 22px;
    }
    span.price-item.price-item--sale.price-item--last {
        font-size: 32px;
    }
    .accordion details[open] > summary .icon-caret {
        transform: rotate(180deg) scale(2) !important;
    }
    .main-card-wraper-flax {
        width: 100%;
        max-width: calc(100% - 163px) !important;
    }

    .main-cari-quantity .quantity-control {
        padding: 4px 15px;
    }
    .main-card-title {
        padding: 0 25px 25px;
    }
    .main-card-container .main-card-btn {
        font-size: 24px;
        padding: 5px;
    }
    button#update {
        margin-top: 10px;
    }
    small.tax-note.caption-large.rte {
        margin-bottom: 35px;
    }
    .container.cart_container h1.title.title--primary {
        font-size: 32px;
    }
    .container.cart_container .title-wrapper-with-link {
        align-items: center;
    }
    .cart-item__name {
        text-decoration: none;
        display: block;
        font-family: 'T-Star Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 130%;
        text-transform: uppercase;
        color: #000000;
    }
    td.cart-item__totals.cart_item_product_price * {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 130%;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
    }
    .cart__footer {
        padding-bottom: 50px !important;
    }
}

@media screen and (max-width:991px) and (min-width:768px){
    .row.usp_row .col-md-4 {
        width: 100%;
    }
    .row.usp_row {
        gap: 15px;
    }
    .grid__item.product__media-wrapper {
        width: 100%;
    }
    .product__info-wrapper {
        padding: 0 0 0 0rem !important;
    }
    .product__info-wrapper {
        padding: 0 0 0 0rem;
        margin-top: 25px;
    }
    h2.related-products__heading.h0 {
        font-family: T-Star Pro;
        font-style: normal;
        font-weight: 900;
        font-size: 36.375px;
        line-height: 130%;
        text-transform: uppercase;
        color: #000;
        margin-bottom: 15px;
    }

    .product__info-container {
        max-width: 100% !important;
    }
}


@media screen and (max-width:1024px) and (min-width:768px){
    .panties-area .f-hero-container {
        padding: 430px 0px 40px 40px;
    }
}

@media screen and (max-width:360px){
    .main-card-title {
        padding: 0 22px 22px;
    }

    .main-card-wraper-items h3 a {
        text-align: left !important;
        padding-top: 0px;
        font-size: 16px;
    }
    .main-cari-quantity .quantity-control {
        max-width: 162px;
        padding: 0px 15px;
    }
    .main-card-wraper-items h3 a {
        text-align: left !important;
        padding-top: 0px;
        font-size: 13px;
        white-space: normal;
    }
    .main-cart-texts-item h5 {
        font-size: 14px;
    }
    .product-option {
       
        font-size: 12px;
        line-height: 100%;
        color: #000000;
        line-height: 16px;
    }
    .main-cart-img img {
        width: 100px;
        height: 145px;
    }
    .main-card-container .main-card-btn {
        font-size: 20px;
    }
    .main-card-title, .main-card-title span {
        font-weight: 900;
        font-size: 22px;
        line-height: 110%;
    }
    .main-card-container .main-card-btn {
        font-size: 20px;
        padding-top: 6px;
    }

}

.product-container, .xm-container, .belive-container{
  max-width: 1356px;
}
.featured-collection-items img{
  object-fit: cover;
}
.belive-wraper{
  grid-template-columns: repeat(auto-fit,minmax(328px,1fr));
}
.belive-items img{
  max-height: 405px;
  height: auto;
}
.footer-help-item ul li{
  padding-bottom: 8px;
}

.shopify-policy__container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px
}

.shopify-policy__title {
    text-align: center
}
/* .cart-empty .main-card-btn{
 display: none;

} */